.square{
  width: 60px;
  height: 60px;
  font-size: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.board{
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin-left: 40px;
  margin-top: 20px;
}

.board .square{
  flex-basis: 33.3%;
}



/* ****************************************************************************************************************** */
/***************************************************** X animations ***************************************************/
/* ****************************************************************************************************************** */

.draw-x{
  width: 60px;
  height: 60px;
  position: relative;

}

.draw-x .line-container{
  position: relative;
  transform: translate(26px,-6px);
  width: 0px;
  height: 0px;

}
.draw-x  .line-container .line{
  font-size: 20px;
  font-weight: 700;
  background: #111;
  overflow: hidden;
  position:absolute;
  top:0;
  left: 0;
  width: 8px;
  transform-origin: top;
  animation: drawing-x .2s linear forwards;
  border-radius: 100px;

}

@keyframes drawing-x{
  from{
    height: 0;
  }

  to{
    height: 50px;
  }
}

 .draw-x .line-container .line-left{
  transform: rotate(-45deg)  translateX(-26px);
  height: 0;
}
 .draw-x .line-container .line-right{
  transform: rotate(45deg) translateX(26px);
  height: 0;
  animation-delay: .2s;
}


/* ****************************************************************************************************************** */
/***************************************************** O animations ***************************************************/
/* ****************************************************************************************************************** */

.draw-o{
  width: 60px;
  height: 60px;
  position: relative;
}

.draw-o .line-container{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.draw-o .line-container .line{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: block;
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes drawing-o {
  0%{
    width: 60px;
    height :60px;
  }

  30%{
    width: 40px;
    height: 40px;
  }

  100%{
    width: 44px;
    height: 44px;
  }
}

.draw-o .line-container .line-left{
  border: 10px solid #111;
  background-color: #111;
  animation: drawing-o .3s linear forwards;
}

.draw-o .line-container .line-right{
  transform: scale(1) translate(-50%, -50%);
  background: white;
  width: 0px;
  height: 0px;
  animation: fill-o .3s ease-in forwards;
}

@keyframes fill-o {
  0%{
    width: 0px;
    height: 0px;  
  }

  100%{
    width: 30px;
    height: 30px;  
  }
}