.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 22px;
  text-align: center;
  overflow: visible;
}

button{
  outline: none;
  border: none;
}
/* ****************************************************************************************************************** */
/***************************************************** Styling the Plot Screen ***********************************/
/* ****************************************************************************************************************** */

.plot{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  
}

.plot .plot-text{
  max-width: 900px;
  text-align: center;
  padding: 10px;
}
.plot .plot-button{
  color: #fff;
  background-color: #222;
  padding: 2px 6px 4px 6px;
  border-radius: 4px;
  position: relative;
  transition: all .3s ease;
  margin: 6px;
}

.plot .plot-button::before{
  content: '';
  display: block;
  position: absolute;
  top:0;
  left:0;
  border: 1px solid #111;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: all .3s ease;
}

.plot .plot-button:hover::before{
  transform: scale(1.3, 1.9);
  opacity: 0;
}

.plot .plot-button:hover{
  transform: scale(1.1);
}
.plot-button-clicked{
  animation: fade-out 2s ease forwards;
}


@keyframes fade-out {
  30%{
    opacity: 0;
    width: 100%;
    height: 100%;
    transform: translate(0);
  }
  100%{
    opacity: 0;
    width: 0px;
    height: 0px;
    transform: translateX(100000px);
  }
}



/* ****************************************************************************************************************** */
/***************************************************** Styling the Tic Tac Toe Grid ***********************************/
/* ****************************************************************************************************************** */


.square{
  width: 60px;
  height: 60px;
  font-size: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 4px solid #111;
}

.square-0{
  border-left: 0;
  border-top: 0;
}

.square-1{
  border-top: 0;
}

.square-2{
  border-right: 0;
  border-top: 0;
}

.square-5{
  border-right: 0;
}

.square-3{
  border-left: 0;
}
.square-6{
  border-left: 0;
  border-bottom: 0;
}

.square-7{
  border-bottom: 0;
}

.square-8{
  border-right: 0;
  border-bottom: 0;
}



/* ****************************************************************************************************************** */
/***************************************************** Making the grid 3 x 3 ******************************************/
/* ****************************************************************************************************************** */
.board{
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.board .square{
  flex-basis: 33.3%;
}



/* ****************************************************************************************************************** */
/***************************************************** X animations ***************************************************/
/* ****************************************************************************************************************** */

.draw-x{
  width: 60px;
  height: 60px;
  position: relative;

}

.draw-x .line-container{
  position: relative;
  transform: translate(26px,-6px);
  width: 0px;
  height: 0px;

}
.draw-x  .line-container .line{
  font-size: 20px;
  font-weight: 700;
  background: #111;
  overflow: hidden;
  position:absolute;
  top:0;
  left: 0;
  width: 8px;
  transform-origin: top;
  animation: drawing-x .2s linear forwards;
  border-radius: 100px;

}

@keyframes drawing-x{
  from{
    height: 0;
  }

  to{
    height: 50px;
  }
}

 .draw-x .line-container .line-left{
  transform: rotate(-45deg)  translateX(-26px);
  height: 0;
}
 .draw-x .line-container .line-right{
  transform: rotate(45deg) translateX(26px);
  height: 0;
  animation-delay: .2s;
}


/* ****************************************************************************************************************** */
/***************************************************** O animations ***************************************************/
/* ****************************************************************************************************************** */

.draw-o{
  width: 60px;
  height: 60px;
  position: relative;
}

.draw-o .line-container{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.draw-o .line-container .line{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: block;
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes drawing-o {
  0%{
    width: 60px;
    height :60px;
  }

  30%{
    width: 40px;
    height: 40px;
  }

  100%{
    width: 44px;
    height: 44px;
  }
}

.draw-o .line-container .line-left{
  border: 10px solid #111;
  background-color: #111;
  animation: drawing-o .3s linear forwards;
}

.draw-o .line-container .line-right{
  transform: scale(1) translate(-50%, -50%);
  background: white;
  width: 0px;
  height: 0px;
  animation: fill-o .3s ease-in forwards;
}

@keyframes fill-o {
  0%{
    width: 0px;
    height: 0px;  
  }

  100%{
    width: 30px;
    height: 30px;  
  }
}

/* ****************************************************************************************************************** */
/***************************************************** other stuff like text and buttons ***********************************/
/* ****************************************************************************************************************** */

.reset-button{
  color: #fff;
  background-color: #222;
  padding: 2px 6px 4px 6px;
  border-radius: 4px;
  position: relative;
  transition: all .3s ease;
  margin: 10px;


}

.reset-button::before{
  content: '';
  display: block;
  position: absolute;
  top:0;
  left:0;
  border: 1px solid #111;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: all .3s ease;
}

.reset-button:hover::before{
  transform: scale(1.3, 1.4);
  opacity: 0;
}

.reset-button:hover{
  transform: scale(1.1);
}